<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.github.user.mapper.SysRoleMapper">
    <!-- 查询所有 -->
    <select id="getAllRoles" resultType="cn.github.user.entity.SysRole">
        select * from sys_role
        <where>
            <if test="map.roleName !=null and map.roleName !='' ">
                and role_name like concat('%', #{map.roleName}, '%')
            </if>
            <if test="map.createTime !=null and map.createTime !='' ">
                and create_time = #{map.createTime}
            </if>
            <if test="map.createUser != null and map.createUser != '' ">
                and create_user like concat ('%', #{map.createUser}, '%')
            </if>
            <if test="map.delFlag !=null and map.delFlag !='' ">
                and del_flag = #{map.delFlag}
            </if>
        </where>
    </select>

</mapper>
