<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.github.assets.mapper.StudentMapper">

    <resultMap id="BaseResultMap" type="cn.github.assets.entity.Student">
        <result property="id" column="s_id"/>
        <result property="name" column="s_name"/>
        <result property="birthday" column="s_birthday"/>
        <result property="sex" column="s_sex"/>
    </resultMap>

    <select id="findByPage" resultMap="BaseResultMap">
        select * from student
    </select>

    <resultMap id="RequestSelAcc" type="cn.github.assets.entity.Student">
        <result property="id" column="s_id"/>
        <result property="name" column="s_name"/>
        <result property="countNumber" column="count_number"/>
        <result property="countScore" column="count_score"/>
    </resultMap>
    <select id="selAccScore" resultMap="RequestSelAcc">
        select s1.s_id s_id,s2.s_name s_name,count(s1.s_id) count_number,
        sum(s1.s_score) count_score
        from score s1 inner join student s2 on s1.s_id = s2.s_id
        group by s1.s_id
    </select>
    
    <select id="findStuById" resultMap="BaseResultMap">
        select * from student where s_id = #{map.sid}
    </select>

</mapper>